.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("photo/tapeta_vinyl.jpg");
  background-size: cover;

  &__baner {
    margin-top: 10vh;
    margin-bottom: 1vh;
    font-size: 50px;
    color: rgb(240, 240, 240);
    text-decoration: none;
    text-transform: uppercase;
  }
  &__about {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: rgb(240, 240, 240);
    text-decoration: none;
    margin: 3em;
    text-align: justify;
    backdrop-filter: blur(5px);
  }
}
.copyright {
  display: none;
  align-items: center;
  color: rgb(240, 240, 240);
  justify-content: center;
  background-color: rgb(94, 94, 94);
}
@media screen and (max-width: 1000px) {
  .info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("photo/tapeta_vinyl.jpg");
    background-size: cover;

    &__baner {
      margin-top: 1vh;
      margin-bottom: 5vh;
      font-size: 35px;
      color: rgb(240, 240, 240);
      text-decoration: none;
      text-transform: uppercase;
    }
    &__about {
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      color: rgb(240, 240, 240);
      text-decoration: none;
      margin: 2em;
      text-align: justify;
      backdrop-filter: none;
    }
  }
}
